.page-container {
    padding: 20px;
    background-color:#f4f6f8;
  }
  .movie-container {
    display: flex;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .movie-image {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .movie-details {
    flex: 1;
    padding: 20px;
    color: #333;
  }
  
  .movie-details h1 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .movie-details p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;

  }
  .cast-section {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cast-section h2 {
    color: white;
    margin-bottom: 20px;
  }
  
  .cast-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .cast-member {
    text-align: center;
    color: black;
    background-color:#f4f6f8 ;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    transition: transform 0.3s ease;
  }
  
  .cast-member:hover {
    transform: scale(1.05);
  }
  
  .cast-member img {
    width: 120px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .cast-member p {
    margin-top: 8px;
    font-size: 14px;
  }
  @media screen and (max-width: 768px) {
    .movie-container {
      flex-direction: column;
      text-align: center;
    }
  
    .movie-image {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  
    .cast-list {
      justify-content: flex-start;
    }
  
    .cast-member {
      width: 120px;
    }
  }
  